@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Serif+JP:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.font-roboto-noto {
    font-family:  'Noto Serif JP', serif;
}
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.background-container {
    background-image: url('../public/bg2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.background-container-2{
    background-image:url('../public/bg1.svg ');
    background-size: cover;
    background-repeat: no-repeat;
}

