@import url('https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap');

.yarndings-20-regular {
  font-family: "Yarndings 20", system-ui;
  font-weight: 20;
  font-style: normal;

}

.container {
  display: grid;
  min-block-size: 24vh;
  place-content: center;
  position: relative;
  font-family: system-ui;
  font-size: 1.125rem;
  max-width: 100%;
}

.scroller {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%,-50%) ;
  z-index: 200;
  background-color:rgba(255, 213, 194, 1);

}

.scroller__inner {

  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}


.scroller[data-animated="true"], .banner {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 5s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
}
